services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    platform: linux/amd64
    container_name: sqlserver
    restart: unless-stopped

    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "StrongPassword123!"
      MSSQL_PID: "Developer"

    ports:
      - "1433:1433"

    volumes:
      - sqlserver_data:/var/opt/mssql

    healthcheck:
      test: >
        /opt/mssql-tools/bin/sqlcmd
        -S localhost
        -U sa
        -P "StrongPassword123!"
        -Q "SELECT 1"
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  sqlserver_data:
